body{
    background: #FAFAFF;
    max-width: 1920px;
    margin: 0 auto;
}

.main-content-solutions {
    margin-top: 20px;
}

.main-content-solutions .solutions-top-box {
    background: url("../img/solutions-background.png") no-repeat center;
    background-size: cover;
    min-height: 290px;
    margin-bottom: 48px;
}

.main-content-solutions .solutions-top-box .solutions-top-box-inner {
    padding-top: 113px;
    text-align: center;
}

.main-content-solutions .solutions-top-box h1 {
    color: #fff;
    display: inline-block;
}

.main-content-solutions .solutions-top-box p {
    color: #BCB3FC;
    font-size: 16px;
    line-height: 24px;
    display: inline-block;
    margin-left: 30px;
    max-width: 400px;
    text-align: left;
}

.main-content-solutions .solutions-box {
    max-width: 1510px;
    margin: 0 auto;
    padding: 0 100px;
}

.main-content-solutions .solutions-box .about-seo {
    display: table;
    margin-bottom: 60px;
}

.main-content-solutions .solutions-box .about-seo > li {
    display: table-cell;
    width: 50%;
}

.main-content-solutions .solutions-box .about-seo > li:first-child {
    padding-right: 25px;
}

.main-content-solutions .solutions-box .about-seo > li:last-child {
    padding-left: 25px;
}

.main-content-solutions .solutions-box .circle {
    width: 105px;
    height: 105px;
    display: inline-block;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.05);
    vertical-align: middle;
    margin-right: 20px;
}

.main-content-solutions .solutions-box h4 {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}

.main-content-solutions .solutions-box p {
    margin-top: 30px;
    color: #AAAAAA;
    line-height: 27px;
    font-size: 18px;
}







.main-content-solutions .about-us-box {
    max-width: 1690px;
    margin: 0 auto;
    padding: 0 140px;
}

.main-content-solutions .about-us-box .about-us-box-inner {
    display: flex;
    margin-bottom: 135px;
}

.main-content-solutions .about-us-box .about-us-box-inner.from-right .about-block:first-child {
    order: 2;
}

.main-content-solutions .about-us-box .about-us-box-inner .about-block {
    display: inline-block;
    vertical-align: middle;
}

.main-content-solutions .about-us-box .about-us-box-inner h1 {
    font-size: 80px;
    line-height: 75px;
    color: #171143;
    min-width: 355px;
    font-weight: 400;
    vertical-align: middle;
}

.main-content-solutions .about-us-box .about-us-box-inner h1 span {
    font-size: 163px;
    font-weight: 700;
    line-height: 155px;
    text-transform: uppercase;
    color: #553DFF;
}

.main-content-solutions .about-us-box .about-us-box-inner p {
    font-size: 18px;
    line-height: 27px;
    color: #AAAAAA;
    position: relative;
    top: 50%;
    transform: translate(0,-50%);
    padding-left: 100px;
}

.main-content-solutions .about-us-box .about-us-box-inner.from-right p {
    padding-left: 0;
    padding-right: 100px;
}










@media only screen and (max-width: 1366px) {
    .main-content-solutions .solutions-box h4 {
        font-size: 25px;
    }

    .main-content-solutions .solutions-box .about-seo > li:first-child {
        padding-right: 25px;
    }

    .main-content-solutions .solutions-box .about-seo > li:last-child {
        padding-left: 25px;
    }





    .main-content-solutions .about-us-box {
        padding: 0 50px;
    }

    .main-content-solutions .about-us-box .about-us-box-inner:last-child {
        margin-bottom: 0;
    }

    .main-content-solutions .about-us-box .about-us-box-inner p {
        padding-left: 40px;
    }

    .main-content-solutions .about-us-box .about-us-box-inner.from-right p {
        padding-left: 0;
        padding-right: 40px;
    }
}

@media only screen and (max-width: 991px) {
    .main-content-solutions {
        margin-top: 0;
        padding-top: 100px;
    }

    .main-content-solutions .solutions-top-box {
        min-height: 279px;
    }

    .main-content-solutions .solutions-top-box .solutions-top-box-inner {
        padding-top: 68px;
    }

    .main-content-solutions .solutions-top-box h1, .main-content-solutions .solutions-top-box p {
        display: block;
        text-align: center;
        margin: 0 auto;
    }

    .main-content-solutions .solutions-box {
        padding: 0 50px;
    }

    .main-content-solutions .solutions-box h4 {
        font-size: 25px;
    }

    .main-content-solutions .solutions-box .about-seo {
        display: block;
    }

    .main-content-solutions .solutions-box .about-seo > li {
        display: block;
        width: 100%;
        margin-bottom: 25px;
    }

    .main-content-solutions .solutions-box .about-seo > li:first-child {
        padding-right: 0;
    }

    .main-content-solutions .solutions-box .about-seo > li:last-child {
        padding-left: 0;
    }





    .main-content-solutions .about-us-box .about-us-box-inner {
        flex-direction: column;
        margin-bottom: 60px !important;
    }

    .main-content-solutions .about-us-box .about-us-box-inner .about-block:first-child {
        order: 1 !important;
    }

    .main-content-solutions .about-us-box .about-us-box-inner .about-block:last-child {
        order: 2 !important;
    }

    .main-content-solutions .about-us-box .about-us-box-inner h1 {
        font-size: 85px;
        text-align: center;
        margin-bottom: 0;
        min-width: auto;
    }

    .main-content-solutions .about-us-box .about-us-box-inner h1 span {
        font-size: 126px;
    }

    .main-content-solutions .about-us-box .about-us-box-inner p {
        position: inherit;
        top: auto;
        transform: inherit;
    }

    .main-content-solutions .about-us-box .about-us-box-inner p {
        padding-right: 0 !important;
        padding-left: 0;
    }
}

@media only screen and (max-width: 600px) {
    .main-content-solutions .solutions-top-box p {
        max-width: 300px;
    }

    .main-content-solutions .solutions-box {
        padding: 0 20px;
    }

    .main-content-solutions .solutions-box h4 {
        font-size: 20px;
    }

    .main-content-solutions .solutions-box .circle {
        margin-right: 12px;
    }

    .main-content-solutions .solutions-box p {
        font-size: 16px;
    }









    .main-content-solutions .about-us-box {
        padding: 0 20px;
    }

    .main-content-solutions .about-us-box .about-us-box-inner h1 {
        font-size: 60px;
        line-height: 60px;
        margin-bottom: 20px;
    }

    .main-content-solutions .about-us-box .about-us-box-inner h1 span {
        font-size: 80px;
        line-height: 80px;
    }
}


























