*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: Roboto,"sans-serif";
}
.btn{
    height: 28px;
    position: absolute;

    background-color: #553DFF;
    color: #DCDCDC;
    margin-left: 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 25px;
}
body{
    color: #000000;
    background: url("../img/galaxy.png") no-repeat top right, #FAFAFF;
    background-size: 1188px;
    min-width: 320px;
}

h4 {
    font-size: 35px;
    line-height: 55px;
    font-weight: 700;
    margin-bottom: 12px;
}

.button-style-1 {
    font-size: 20px;
    line-height: 26px;
    padding: 23px 40px;
    color: #DCDCDC;
    background-color: #553DFF;
    border-radius: 3px;
    outline: none;
    border: none;
    cursor: pointer;
}

.button-style-1:hover {
    background-color: #4930FC;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #DCDCDC;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #DCDCDC;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #DCDCDC;
}

.text-grey {
    color: #AAAAAA;
}

.nav-bar {
    max-width: 1920px;
    padding: 0 140px 17px;
    margin: 0 auto;
    position: relative;
    box-shadow: 0 0 6px rgba(0,0,0,0.05);
    background-color: #FFFFFF;
}

.nav-bar .menu-open {
    display: none;
    position: absolute;
    right: 50px;
    top: 35px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    z-index: 1000;
}

.nav-bar .menu-open:hover {
    outline: none;
}

.nav-bar .menu-open svg rect {
    fill: #553DFF;
}

.nav-bar .logo-box {
    padding-top: 22px;
    display: inline-block;
    vertical-align: top;
}

.nav-bar .logo-box img:hover{
    transform: scale(1.02);
    transition: transform 0.15s ease-in-out;
}

.nav-bar .logo-box img {
    width: 124px;
    margin-right: 17px;
}

.nav-bar .logo-box p {
    display: inline-block;
    font-weight: 700;
    font-size: 34px;
    line-height: 23px;
    color: #171143;
    vertical-align: top;
    padding-top: 17px;
    text-transform: uppercase;
}

.nav-bar .logo-box p span {
    font-size: 20px;
    color: #AAAAAA;
    text-transform: capitalize;
    font-weight: 400;
    line-height: 26px;
}

.nav-bar .nav-bar-main {
    display: table;
    vertical-align: top;
    float: right;
    z-index: 10;
}

.nav-bar .nav-bar-main > li {
    display: table-cell;
    width: 93px;
    text-align: center;
    padding-top: 40px;
    border-top: 2px solid transparent;
}

.nav-bar .nav-bar-main > li a {
    text-decoration: none;
    display: block;
    color: #171143;
}

.nav-bar .nav-bar-main > li a:hover {
    color: #553DFF;
}

.nav-bar .nav-bar-main > li.active {
    border-top: 2px solid #553DFF;
}

.nav-bar .nav-bar-main > li.active a {
    color: #553DFF;
}

.nav-bar .nav-bar-main .with-button {
    width: 111px;
}

.nav-bar .nav-bar-main .with-button button {
    width: 111px;
    height: 41px;
    border: 1px solid #E178B5;
    border-radius: 3px;
    cursor: pointer;
    color: #E178B5;
    font-size: 18px;
    line-height: 24px;
    font-family: Roboto,"sans-serif";
    background-color: transparent;
}

.nav-bar .nav-bar-main .with-button button:hover {
    background-color: #F7EAF5;
    border-color: transparent;
}

.nav-bar .nav-bar-main .with-button button:focus {
    outline: none;
}

.main-content {
    max-width: 1920px;
    padding: 0 140px;
    margin: 0 auto;
}

.main-content .boost-with-us {
    color: #AAAAAA;
    font-size: 18px;
    line-height: 27px;
    padding-top: 187px;
    padding-left: 20px;
    margin-bottom: 289px;
}

h1 {
    font-family: 'Francois One', sans-serif;
    font-size: 55px;
    line-height: 70px;
    font-weight: 400;
    color: #000000;
    margin-bottom: 15px;
}

.main-content .boost-with-us p {
    margin-bottom: 24px;
}

.contact-us {
    width: 277px;
    height: 88px;
    background-color: #553DFF;
    font-size: 22px;
    line-height: 55px;
    text-align: center;
    color: #FFFFFF;
    font-weight: 700;
    box-shadow: 0 5px 30px rgba(85,61,255,0.2);
    border-radius: 3px;
    border: 2px solid #553DFF;
    cursor: pointer;
    outline: none;
    background-image: url("../img/contact-svg.png");
    background-repeat: no-repeat;
    background-position: 195px center;
    padding-right: 45px;
}

.contact-us:hover {
    background-position: 205px center;
}

.main-content .suggestion-solution {
    background-image: url("../img/grey.png");
}

.main-content .our-suggestion p {
    text-align: center;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 20px;
    font-weight: 700;
}

.main-content .our-suggestion img {
    vertical-align: middle;
    margin-right: 1%;
    width: 15%;
}

.main-content .our-suggestion img:last-child {
    margin-right: 0;
}

.main-content .solutions {
    text-align: center;
    margin-top: 91px;
    margin-bottom: 34px;
}

.main-content .solutions p {
    max-width: 555px;
    margin: 0 auto;
}

.main-content .solutions .solutions-box {
    margin: 91px 0;
}

.main-content .solutions .about-seo-inner {
    display: inline-block;
    max-width: 385px;
    width: 60%;
    margin-left: 25px;
    text-align: left;
    vertical-align: middle;
}

.main-content .solutions .about-seo-inner p {
    font-size: 16px;
    line-height: 24px;
}

.main-content .solutions .about-seo {
    margin: 0 auto;
    display: table;
}

.main-content .solutions .about-seo > li {
    display: table-cell;
    border-radius: 3px;
    background-color: #fff;
    padding: 30px 20px 22px 20px;
    border-bottom: 9px solid #FAFAFF;
    border-right: 16px solid #FAFAFF;
    vertical-align: top;
    width: 49%;
}

.main-content .solutions .about-seo > li p {
    color: #AAAAAA;
}

.main-content .solutions .about-seo .circle {
    width: 165px;
    height: 165px;
    display: inline-block;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.05);
    vertical-align: middle;
}

.circle.iconfinder {
    background: url("../img/iconfinder_send.png") no-repeat center;
}

.circle.off-site {
    background: url("../img/off-site.png") no-repeat center;
}

.circle.settings {
    background: url("../img/settings.png") no-repeat center;
}

.circle.sepo {
    background: url("../img/sepo.png") no-repeat center;
}

.main-content .why-us {
    background: url("../img/blue.png") no-repeat center;
    background-size: cover;
    margin: 0 -140px 61px;
    color: #fff;
    padding: 0 277px;
    min-height: 790px;
    display: table;
}

.main-content .why-us > div {
    display: table-cell;
}

.main-content .why-us .why-us-left {
    padding-right: 30px;
    vertical-align: middle;
    width: 100%;
}

.main-content .why-us h2 {
    font-size: 115px;
    font-weight: 700;
}

.main-content .why-us span {
    color: #BCB3FC;
    font-size: 18px;
    line-height: 27px;
}

.main-content .why-us .why-us-right {
    min-width: 510px;
    vertical-align: middle;
    margin-bottom: 55px;
    padding-top: 35px;
}

.main-content .meet-world {
    background: url("../img/world.png") no-repeat center top;
    background-size: 100%;
    min-height: 941px;
    margin: 0 -80px;
}

.main-content .meet-world h2 {
    font-size: 60px;
    margin-top: 22px;
    margin-bottom: 39px;
    text-align: center;
}

.main-content .meet-world p {
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    max-width: 844px;
    margin: 0 auto;
    color: #AAAAAA;
}

.main-content .testimonials {
    text-align: center;
    background: url("../img/opacity.png") no-repeat center;
    background-size: 100%;
    margin: 0 -140px;
    padding: 113px 140px 0;
}

.main-content .testimonials p {
    max-width: 585px;
    margin: 0 auto 60px;
}

.main-content .testimonials .testimonials-inner {
    display: table;
}

.main-content .testimonials .testimonials-inner > li {
    display: table-cell;
    vertical-align: top;
    background-color: #fff;
    border-radius: 3px;
    max-width: 536px;
    width: 30%;
    border-right: 16px solid #FAFAFF;
    padding: 31px 35px 96px;
}

.main-content .testimonials .testimonials-inner > li:last-child {
    margin-right: 0;
}

.main-content .testimonials .testimonials-inner > li h3 {
    margin-bottom: 24px;
}

.main-content .testimonials .testimonials-inner > li span {
    width: 340px;
    height: 340px;
    display: block;
    margin: 0 auto 30px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    background: url("../img/man.jpg") no-repeat center, #fff;
    background-size: 300px 300px;
}

.main-content .hurry-up {
    padding-top: 160px;
    padding-bottom: 110px;
    text-align: center;
}

.main-content .hurry-up h4 {
    margin-bottom: 68px;
}



/*--------- Contact Us box --------*/

.contact-us-box {
    position: absolute;
    top: -700px;
    right: 0;
    width: 550px;
    padding: 51px 62px;
    box-shadow: 0 0 40px rgba(0,0,0,0.4);
    border: 2px solid #EBEBEB;
    border-radius: 20px 0 0 0;
    background-color: #FFFFFF;
    text-align: left;
    transition: top 0.3s ease-in-out;
}

.contact-us-box.is_active {
    top: 100px;
}

.contact-us-box p {
    margin-bottom: 32px;
}

.contact-us-box form label {
    padding-left: 10px;
}

.contact-us-box form input {
    width: 100%;
    height: 60px;
    border: none;
    background-color: #F6F5F8;
    border-radius: 5px;
    font-size: 18px;
    padding: 0 10px;
    margin-bottom: 22px;
    margin-top: 4px;
}

.contact-us-box form input[type=submit] {
    cursor: pointer;
    min-width: 169px;
    width: auto;
    padding: 20px 55px;
    background-color: #553DFF;
    color: #fff;
    box-shadow: 0 5px 30px rgba(85,61,255,0.2);
}

.contact-us-box form input:focus {
    outline: none;
}

/*---------- Blog ----------*/

.main-content-blog {
    background-color: #ffffff;
    width: 100%;
}

.main-content-blog.blog-inner {
    background-color: #FCFBFF;
}

.main-content-blog .top-part {
    max-width: 1920px;
    padding: 12px 140px 67px;
    margin: 0 auto;
    display: table;
    background-color: #FCFBFF;
    width: 100%;
}

.main-content-blog .left-box {
    vertical-align: middle;
    display: table-cell;
    width: 60%;
}

.main-content-blog .left-box img {
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.main-content-blog .right-box {
    vertical-align: middle;
    display: table-cell;
    width: 40%;
    padding: 0 40px;
}

.main-content-blog h3 {
    font-size: 25px;
    line-height: 35px;
    color: #171143;
    margin-bottom: 22px;
}

.main-content-blog h3 a {
    text-decoration: none;
    color: #171143;
}

.main-content-blog h3 a:hover {
    text-decoration: underline;
}

.main-content-blog .blog-box-container .blog-box .detail-part .detail-bottom p {
    font-size: 16px;
    line-height: 27px;
}

.main-content-blog p span {
    margin-top: 26px;
    display: block;
}

.main-content-blog .blog-box-container {
    padding: 57px 140px 127px;
}

.main-content-blog .blog-box-container h3 {
    font-size: 35px;
    line-height: 52px;
    margin-bottom: 45px;
}

.main-content-blog .blog-box-container .blog-box-container-inner {
    display: table;
    margin-bottom: 26px;
}

.main-content-blog .blog-box-container .blog-box-container-inner .blog-box {
    display: table-cell;
    width: 32%;
    padding-right: 1%;
}

.main-content-blog .blog-box-container .blog-box-container-inner .blog-box:last-child {
    padding-right: 0;
}

.main-content-blog .blog-box-container .blog-box:hover .detail-part {
    box-shadow: 0 0 20px rgba(0,0,0,0.05);
}

.main-content-blog .blog-box-container .blog-box .header-part {
    height: 400px;
}

.main-content-blog .blog-box-container .blog-box .header-part img {
    border-radius: 5px;
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.main-content-blog .blog-box-container .blog-box .detail-part {
    padding: 13px 10px 26px;
    border-radius: 5px;
}

.main-content-blog .blog-box-container .blog-box .detail-part .detail-top {
    display: table;
    width: 100%;
    margin-bottom: 26px;
}

.main-content-blog .blog-box-container .blog-box .detail-part .detail-top .left-box {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.main-content-blog .blog-box-container .blog-box .detail-part .detail-top .right-box {
    display: table-cell;
    vertical-align: middle;
    min-width: 91px;
    padding: 0;
    text-align: center;
}

.main-content-blog .blog-box-container .blog-box .detail-part .detail-top .right-box span {
    display: block;
    width: 91px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    background-color: #F8F8F8;
    position: relative;
    padding-left: 29px;
    color: #171143;
    font-weight: 700;
}

.main-content-blog .blog-box-container .blog-box .detail-part .detail-top .right-box span svg {
    position: absolute;
    left: 23px;
    top: 50%;
    transform: translate(0,-50%);
}

.main-content-blog .blog-box-container .pagination-box {
    text-align: center;
}

.main-content-blog .blog-box-container .pagination-box .pagination a {
    font-size: 30px;
    font-weight: 400;
    color: #44332F;
    text-decoration: none;
    margin-right: 10px;
    padding: 4px 8px;
}

.main-content-blog .blog-box-container .pagination-box .pagination a:last-child {
    margin-right: 0;
}

.main-content-blog .blog-box-container .pagination-box .pagination a.is_active {
    color: #553DFF;
}

/*--------- Blog inner --------*/

.blog-inner .blog-main {
    max-width: 1920px;
    padding: 0 140px;
    display: flex;
    margin: 0 auto;
}

.blog-inner .blog-main .share-side {
    min-width: 200px;
    margin-right: 64px;
    text-align: center;
}

.blog-inner .blog-main .share-side .share-box {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: block;
    margin: 20px auto;
    background-size: 100%;
}

.blog-inner .blog-main .share-side .share-box.facebook {
    background: url("../img/facebook.png") no-repeat center #9181FF;
}

.blog-inner .blog-main .share-side .share-box.instagram {
    background: url("../img/instagram.png") no-repeat center #9181FF;
}

.blog-inner .blog-main .share-side .share-box.linkdin {
    background: url("../img/linkdin.png") no-repeat center #9181FF;
}

.blog-inner .blog-main .share-side h3 {
    font-size: 24px;
    line-height: 36px;
}

.blog-inner .blog-main .main-side {
    width: 100%;
}

.blog-inner .blog-main .main-side p {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 18px;
}

.blog-inner .blog-main .main-side p:last-child {
    margin-bottom: 75px;
}

.blog-inner .blog-main .main-side ul li {
    margin-bottom: 23px;
    font-size: 18px;
    line-height: 30px;
    padding-left: 18px;
    position: relative;
}

.blog-inner .blog-main .main-side ul li:before {
    content: "";
    width: 9px;
    height: 9px;
    display: block;
    background-color: #E178B5;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 11px;
}

.blog-inner .blog-main .main-side .image-container {
    width: 100%;
    margin-bottom: 25px;
}

.blog-inner .blog-main .main-side .image-container img {
    width: 49%;
}

.blog-inner .blog-main .main-side .image-container img:first-child {
    margin-right: 1%;
}

.blog-inner .blog-main .about-author {
    max-width: 1100px;
    margin-top: 72px;
    margin-bottom: 88px;
    border-top: 1px solid rgba(112, 112, 112, 0.15);
    padding-top: 75px;
}

.blog-inner .blog-main .about-author-inner {
    width: 100%;
}

.blog-inner .blog-main .about-author-item {
    display: table;
    margin-bottom: 130px;
}

.blog-inner .blog-main .about-author-item .image-box {
    display: table-cell;
    vertical-align: middle;
}

.blog-inner .blog-main .about-author-item .image-box span {
    display: block;
    width: 290px;
    height: 290px;
    border-radius: 50%;
    border: 23px solid #ffffff;
}

.blog-inner .blog-main .about-author-item .image-box img {
    border-radius: 50%;
    width: 244px;
    height: 244px;
    object-fit: cover;
}

.blog-inner .blog-main .about-author-item .text-box {
    display: table-cell;
    vertical-align: middle;
    padding-left: 48px;
}

.blog-inner .blog-main .about-author-item .text-box p {
    max-width: 550px;
}

.blog-inner .blog-main .comments-side {
    width: 100%;
    margin-bottom: 70px;
}

.blog-inner .blog-main .comments-side .comment-box-item {
    width: 100%;
    position: relative;
    padding: 48px 81px;
    background-color: #F6F5F8;
    border-radius: 5px;
    font-size: 18px;
    line-height: 35px;
    font-style: italic;
    color: #171143;
}

.blog-inner .blog-main .comments-side .comment-box-item:before {
    content: '"';
    font-size: 109px;
    color: #BCB3FC;
    position: absolute;
    left: 15px;
    top: 50px;
    display: block;
}

.blog-inner .blog-main .reply-side textarea {
    width: 100%;
    height: 200px;
    margin-bottom: 28px;
    background-color: #F6F5F8;
    border-radius: 5px;
    color: #171143;
    resize: none;
    border: none;
    outline: none;
    padding: 15px 20px;
    font-size: 18px;
    line-height: 28px;
}

.blog-inner .blog-main textarea::placeholder, .blog-inner .blog-main input::placeholder {
    color: #AAAAAA;
}

.blog-inner .blog-main .reply-side .half-input {
    width: 100%;
    margin-bottom: 29px;
}

.blog-inner .blog-main .reply-side .half-input input {
    width: 49%;
    background-color: #F6F5F8;
    color: #171143;
    padding: 31px 20px;
    border: none;
    outline: none;
    font-size: 18px;
}

.blog-inner .blog-main .reply-side .half-input input:last-child {
    float: right;
}


















    /*--------- Footer --------*/

footer {
    max-width: 1920px;
    padding: 114px 50px 65px;
    margin: 0 auto;
    background-color: #FCFBFF;
}

footer .footer-inner {
    margin: 0 90px 80px;
    display: flex;
}

footer .footer-inner > li {
    display: block;
}

footer .footer-inner .left-box {
    width: 100%;
}

footer .footer-inner .left-box h4 {
    margin-bottom: 35px;
}

footer .footer-inner .left-box svg {
    vertical-align: middle;
    margin-right: 33px;
    height: 25px;
}

footer .footer-inner .left-box svg:last-child {
    margin-right: 0;
}

footer .footer-inner .right-box {
    position: relative;
    white-space: nowrap;
}

footer .footer-inner .right-box span {
    font-size: 12px;
}

footer .footer-inner .right-box .email-address {
    width: 536px;
    height: 78px;
    border-radius: 3px;
    background-color: #fff;
    padding: 0 135px 0 15px;
    border: none;
    font-size: 20px;
    line-height: 26px;
    color: #171143;
}

footer .footer-inner .right-box .email-address:focus {
    outline: none;
    border: 1px solid #DCDCDC;
}

footer .footer-inner .right-box button {
    height: 78px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #553DFF;
    color: #DCDCDC;
    padding: 19px 36px 20px 37px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 30px;
}

footer .footer-inner .right-box button:focus {
    outline: none;
    border: 1px solid #DCDCDC;
}

footer .footer-inner .left-box a {
    color: #171143;
    text-decoration: none;
    margin-right: 37px;
}

footer .footer-inner .left-box a:last-child {
    margin-right: 0;
}

footer .footer-inner .left-box a:hover {
    text-decoration: underline;
}

footer .footer-inner.bottom {
    padding-top: 70px;
    margin-bottom: 0;
}

.line {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #E5E5E5;
}

@media only screen and (max-width: 1600px) {
    .main-content .testimonials .testimonials-inner > li {
        padding-left: 19px;
        padding-right: 19px;
    }

    .main-content .testimonials .testimonials-inner > li span {
        width: 300px;
        height: 300px;
        background-size: 260px 260px;
    }

    .main-content .why-us {
        padding: 0 120px;
    }

    .main-content .meet-world {
        min-height: 800px;
        background-position: center;
    }

    .blog-inner .blog-main .share-side {
        margin-right: 10px;
    }
}

@media only screen and (max-width: 1366px) {
    .nav-bar {
        padding: 0 50px 17px;
    }

    .main-content {
        padding: 0 50px;
    }

    .main-content .solutions {
        margin-top: 26px;
    }

    .main-content .solutions .solutions-box {
        margin: 30px 0;
    }

    .main-content .solutions .about-seo {
        display: block;
    }

    .main-content .solutions .about-seo > li {
        display: block;
        max-width: 660px;
        width: 100%;
        margin: 0 auto 10px;
        padding: 30px 20px;
        border: none;
    }

    .main-content .solutions .about-seo .circle {
        width: 125px;
        height: 125px;
    }

    .main-content-blog .top-part {
        padding: 12px 50px 67px;
    }

    .main-content-blog .right-box {
        padding: 0 15px;
    }

    .main-content-blog h3 {
        font-size: 20px;
        line-height: 28px;
    }

    .main-content .why-us {
        margin: 0 -100px;
    }

    .main-content .why-us > div {
        display: block;
    }

    .main-content .why-us .why-us-left {
        padding-top: 158px;
        text-align: center;
    }

    .main-content .why-us p, .main-content .why-us span {
        font-size: 16px;
    }

    .main-content .why-us .why-us-right {
        min-width: auto;
    }

    .main-content .meet-world {
        min-height: 700px;
    }

    .main-content .meet-world h2 {
        font-size: 43px ;
    }

    .main-content .testimonials {
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .main-content .testimonials .testimonials-inner {
        display: block;
    }

    .main-content .testimonials .testimonials-inner > li {
        display: block;
        margin: 0 auto 10px;
        max-width: 660px;
        width: 100%;
        padding: 28px 30px 9px;
        border-right: none;
    }

    .main-content .testimonials .testimonials-inner > li:last-child {
        margin: auto;
    }

    .main-content .hurry-up {
        padding-top: 51px;
        padding-bottom: 100px;
    }

    .main-content-blog .left-box, .main-content-blog .right-box {
        width: 50%;
    }

    .main-content-blog .blog-box-container {
        padding: 57px 50px 127px;
    }

    .blog-inner .blog-main {
        padding: 0 50px;
    }

    footer .footer-inner {
        margin: 0 0 80px;
    }
}

@media only screen and (max-width: 1200px) {
    h4 {
        font-size: 30px;
    }

    .nav-bar, .main-content, .main-content .meet-world, .main-content .why-us {
        padding: 0 50px;
    }

    .nav-bar {
        padding-bottom: 17px;
    }

    .main-content .why-us {
        margin: 0 -50px;
    }

    .main-content .meet-world {
        margin: 0 -30px;
        min-height: 650px;
    }

    .main-content-blog .top-part {
        padding: 12px 50px 67px;
    }
}

@media only screen and (max-width: 991px) {
    body {
        background-size: 100%;
    }

    .nav-bar {
        height: 99px;
    }

    .nav-bar .nav-bar-main > li.active {
        border-color: #E5E5E5;
        border-width: 1px;
    }

    .nav-bar-main {
        display: block;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        padding: 100px 50px 0;
        background-color: #fff;
        height: 100vh;
    }

    .nav-bar .nav-bar-main.is_active {
        display: block;
    }

    .nav-bar .nav-bar-main > li {
        width: 100%;
        display: block;
        padding: 30px 0;
        border-top: 1px solid #E5E5E5;
    }

    .nav-bar .nav-bar-main > li:first-child, .nav-bar .nav-bar-main > li:last-child {
        border: none;
    }

    .nav-bar .nav-bar-main > li.active a {
        color: #553DFF;
        font-weight: 700;
    }

    .nav-bar .nav-bar-main .with-button {
        text-align: center;
        width: auto;
        padding-top: 4px;
    }

    .nav-bar .nav-bar-main .with-button button {
        max-width: 494px;
        width: 100%;
    }

    .nav-bar .logo-box {
        z-index: 1000;
        position: absolute;
    }

    .nav-bar .logo-box img {
        width: 79px;
        margin-right: 10px;
    }

    .nav-bar .logo-box p {
        font-size: 21px;
        line-height: 6px;
    }

    .nav-bar .logo-box p span {
        font-size: 12px;
    }

    .nav-bar .nav-bar-main {
        display: none;
    }

    .nav-bar .menu-open {
        display: block;
    }

    .main-content .boost-with-us {
        padding-top: 60%;
        text-align: center;
        margin-bottom: 73px;
    }

    h1 {
        font-size: 30px;
        line-height: 40px;
        font-weight: 400;
    }

    .main-content .boost-with-us p {
        font-size: 16px;
        line-height: 27px;
        margin-bottom: 19px;
    }

    .contact-us {
        width: 253px;
        height: 70px;
    }

    .main-content .hurry-up {
        padding-bottom: 49px;
    }

    .main-content .meet-world {
        min-height: 500px;
    }

    .main-content .testimonials p {
        margin-bottom: 12px;
    }

    .main-content-blog .top-part {
        padding: 49px 50px 58px;
    }

    .main-content-blog .left-box, .main-content-blog .right-box {
        display: block;
        width: 100%;
    }

    .main-content-blog .left-box {
        margin-bottom: 40px;
    }

    .main-content-blog .right-box h3 {
        font-size: 25px;
        line-height: 35px;
        text-align: center;
    }

    .main-content-blog .blog-box-container {
        padding-bottom: 56px;
    }

    .main-content-blog .blog-box-container .blog-box-container-inner .blog-box {
        display: block;
        width: 100%;
        max-width: 480px;
        margin: 0 auto 26px;
    }

    .main-content-blog .blog-box-container .blog-box-container-inner {
        display: block;
    }

    .main-content-blog .blog-box-container .pagination-box .pagination a {
        font-size: 24px;
    }

    .main-content-blog .blog-box-container .blog-box .detail-part {
        padding-left: 0;
        padding-right: 0;
    }

    .blog-inner .blog-main {
        flex-direction: column;
    }

    .blog-inner .blog-main.with-share .main-side {
        order: 1;
    }

    .blog-inner .blog-main.with-share .share-side {
        order: 2;
    }

    .blog-inner .blog-main .share-side .share-box {
        display: inline-block;
        margin-right: 10px;
    }

    .blog-inner .blog-main .share-side .share-box:last-child {
        margin-right: 0;
    }

    .blog-inner .blog-main .about-author {
        text-align: center;
    }

    .blog-inner .blog-main .about-author-item {
        display: block;
    }

    .blog-inner .blog-main .about-author-item .image-box, .blog-inner .blog-main .about-author-item .text-box {
        display: block;
        padding-left: 0;
    }

    .blog-inner .blog-main .about-author-item .image-box span, .blog-inner .blog-main .about-author-item .text-box p {
        margin: 0 auto;
    }

    .main-content-blog h3 {
        text-align: center;
    }

    .blog-inner .blog-main .about-author {
        padding-top: 0;
        border-top: none;
        margin-top: 58px;
    }

    .blog-inner .blog-main .share-side h4 {
        font-size: 25px;
        line-height: 52px;
    }

    .blog-inner .blog-main .comments-side .comment-box-item {
        padding: 33px 19px  24px 62px;
    }

    .blog-inner .blog-main .comments-side .comment-box-item:before {
        left: 5px;
        top: 45px;
    }

    .blog-inner .blog-main .reply-side textarea {
        margin-bottom: 10px;
    }

    .blog-inner .blog-main .reply-side .half-input input {
        width: 100%;
        margin-bottom: 10px;
    }

    .blog-inner .blog-main .reply-side .half-input input:last-child {
        margin-bottom: 14px;
    }

    .main-content-blog .blog-box-container.popular {
        display: none;
    }

    footer {
        padding: 0 50px 65px;
        text-align: center;
    }

    footer .footer-inner {
        flex-direction: column;
        margin: 0 auto 60px;
        max-width: 536px;
    }

    footer .footer-inner .left-box {
        order: 2;
    }

    footer .footer-inner .left-box h4 {
        margin-bottom: 16px;
    }

    footer .footer-inner .right-box {
        order: 1;
        margin-bottom: 46px;
    }

    footer .footer-inner.bottom {
        padding-top: 60px;
    }

    footer .footer-inner.bottom .right-box {
        order: 2;
        margin-bottom: 0;
    }

    footer .footer-inner.bottom .left-box {
        order: 1;
        margin-bottom: 38px;
    }

    footer .footer-inner .right-box .email-address {
        width: 100%;
    }

    footer .footer-inner .right-box span {
        font-size: 10px;
    }
}

@media only screen and (max-width: 600px) {
    h4 {
        font-size: 20px;
        line-height: inherit;
    }

    .nav-bar-main {
        padding: 75px 20px;
    }

    .nav-bar .menu-open {
        top: 29px;
        right: 20px;
    }

    .nav-bar .menu-open svg {
        width: 55px;
        top: 33px;
    }

    .contact-us {
        width: 170px;
        height: 46px;
        font-size: 16px;
        line-height: 42px;
        background-position: 120px center;
        background-size: 16px;
        padding-right: 23px;
    }

    .main-content .boost-with-us .contact-us:hover {
        background-position: 130px center;
    }

    .nav-bar, .main-content, .main-content .meet-world {
        padding: 0 20px;
    }

    .main-content .why-us {
        padding: 0 20px;
        margin: 0 -20px;
    }

    .main-content .why-us h2 {
        font-size: 50px;
    }

    .main-content .meet-world {
        margin: 0 -20px;
    }

    .main-content .meet-world h2 {
        font-size: 20px;
        margin-top: 56px;
        margin-bottom: 10px;
    }

    .main-content .meet-world p {
        font-size: 16px;
    }

    .main-content .why-us span br {
        display: none;
    }

    .main-content .solutions .about-seo .circle {
        width: 78px;
        height: 78px;
        vertical-align: top;
        background-size: 35px !important;
    }

    .main-content .solutions .about-seo-inner p {
        font-size: 15px;
        line-height: 23px;
    }

    .main-content .solutions .about-seo-inner {
        vertical-align: top;
        margin-left: 35px;
    }

    .main-content .testimonials .testimonials-inner > li span {
        width: 200px;
        height: 200px;
        background-size: 180px 180px;
    }

    .main-content-blog .top-part {
        padding: 30px 20px;
    }

    .main-content-blog .left-box img {
        height: 205px;
    }

    .main-content-blog .right-box {
        padding: 20px 0;
    }

    .main-content-blog .blog-box-container {
        padding: 60px 20px 29px;
    }

    .blog-inner .blog-main {
        padding: 0 20px;
    }

    footer .footer-inner .right-box .email-address {
        height: 46px;
        font-size: 16px;
        padding-right: 76px;
    }

    footer .footer-inner .right-box button {
        height: 46px;
        padding: 6px 20px;
        font-size: 16px;
    }

    footer {
        padding: 20px 20px 30px 20px;
    }

    footer .footer-inner .left-box a {
        font-size: 14px;
        margin-right: 11px;
    }

    footer .footer-inner .left-box svg {
        height: 25px;
    }

    footer .footer-inner.bottom {
        padding-top: 30px;
    }

    footer .footer-inner {
        margin-bottom: 30px;
    }

    footer .footer-inner.bottom .left-box {
        margin-bottom: 20px;
    }

    footer .footer-inner.bottom .right-box {
        font-size: 12px;
    }
}

@media only screen and (max-width: 420px) {
    .main-content .solutions .about-seo > li {
        padding: 16px;
    }

    .main-content .solutions .about-seo .circle {
        display: block;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
        margin-bottom: 16px;
    }

    .main-content .solutions .about-seo-inner {
        margin-left: 0;
        width: auto;
    }
}







